<!DOCTYPE html>
<html>
<head>
  <title>Dashboard – MindTrack</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Dashboard Page</h1>
  <a href="/">Back to Home</a>
</body>
</html>
