<!DOCTYPE html>
<html>
<head>
  <title>MindTrack</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to MindTrack</h1>
  <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
</body>
</html>
